@font-face {
    font-family: 'Arvo';
    src: url('../assets/Arvo/Arvo-Regular.ttf') format('truetype');
    src: url('../assets/Arvo/Arvo-BoldItalic.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;

}